@use "./partials/variables" as *;
@use "bootstrap/scss/bootstrap.scss";

body {
  font-family: "Roboto", sans-serif;
}

.my-container {
  margin: auto;
  width: 80%;
  max-width: 1400px;
}

/* #region HEADER */
header {
  background-color: $header-bg;
  padding: 10px 0;
  color: white;

  .my-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .categories,
    .icons {
      display: flex;
      gap: 15px;
      width: 185px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

/* #endregion HEADER */

/* #region MAIN */
main {
  .card {
    position: relative;
    .discounted {
      color: $discount-red;
    }

    .deleted-price {
      text-decoration: line-through;
    }

    .discount-label {
      position: absolute;
      left: 0;
      bottom: 150px;
      padding: 5px;
      background-color: $discount-red;
      color: white;
    }

    .green-label,
    .moved-green-label {
      background-color: green;
      color: white;
      position: absolute;
      bottom: 150px;
      left: 0;
      padding: 5px;
    }

    .moved-green-label {
      left: 50px;
    }
  }
}
/* #endregion MAIN */

/* #region FOOTER */
footer {
  background-color: $footer-bg;
  color: white;

  .legal span {
    margin-right: 10px;
  }

  .socials i {
    margin-right: 10px;
    font-size: 1.3rem;
  }
}
/* #endregion FOOTER */
